html, body {
    background: #FFF;
    color: #000;
}

.container {
    margin-top: 50px;
}

a, a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.medium.image {
    height: 300px;
    width: auto;
}
